[user]
  name = mloning
  email = 21020482+mloning@users.noreply.github.com
[credential]
  helper = osxkeychain
[core]
  autocrlf = input
[color]
  ui = auto
[init]
  defaultBranch = main
[push]
  default = simple
  autoSetupRemote = true
[pull]
  rebase = false
[rebase]
  autosquash = true
  autostash = true
[commit]
  gpgSign = true
[tag]
  gpgSign = true
  sort = -version:refname
[diff]
  algorithm = histogram
  colorMoved = default
  colorMovedWS = allow-indentation-change
[merge]
  tool = nvimdiff2
  conflictstyle = zdiff3
[mergetool]
  keepBackup = false
  writeToTemp = true
[rerere]
  enabled = true
[branch]
  sort = -committerdate
[alias]
  s = status
  a = add
  c = commit
  d = diff
  r = restore
  m = merge
  mt = mergetool
  n = switch --create
  l = log --color --graph --date=format:'%Y-%m-%d %H:%M:%S' --pretty=format:'%Cred%h%Creset %Cgreen%ad%Creset %C(bold blue)<%an>%Creset %s%C(yellow)%d%Creset'
  t = tag
  f = fetch
  co = checkout
  sw = switch
  br = branch
  rb = rebase
  st = stash
  ps = push
  psu = !git push --set-upstream origin $(git branch --show-current)
  psf = push --force-with-lease
  pl = pull
  sy = pull origin main:main --no-edit
  root = rev-parse --show-toplevel
  default-branch = !git remote show origin | grep 'HEAD branch' | cut -d' ' -f5

