[user]
	name = mloning-shell
	email = 82043799+mloning-shell@users.noreply.github.com
	signingkey = A79662EC
[color]
	ui = auto
[core]
	autocrlf = input
[push]
  default = simple
[credential]
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[credential "https://dev.azure.com"]
  useHttpPath = true
[init]
  defaultBranch = main
[pull]
  rebase = false
# Sign git commits, see https://withblue.ink/2020/05/17/how-and-why-to-sign-git-commits.html
[commit]
  gpgSign = true
[tag]
  gpgSign = true
[http]
  sslVerify = true
  sslCAInfo = /etc/ssl/certs/ca-certificates.crt
