[user]
	name = mloning-shell
	email = 82043799+mloning-shell@users.noreply.github.com
	signingkey = A79662EC
[color]
	ui = auto
[core]
	autocrlf = input
[push]
  default = simple
[credential]
  helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[credential "https://dev.azure.com"]
  useHttpPath = true
[init]
  defaultBranch = main
[pull]
  rebase = false
[commit]
  gpgSign = true
[tag]
  gpgSign = true
  # sort tags by semantic versioning in reverse order
	sort = -version:refname  
[http]
  sslVerify = true
  sslCAInfo = /etc/ssl/certs/ca-certificates.crt
[alias]
	s = status
	a = add
	c = commit
	d = diff
  r = restore
  m = merge
  ps = push
  psu = !git push --set-upstream origin $(git branch --show-current)
  pl = pull
	co = checkout
	br = branch
  rb = rebase
  st = stash
  sync = pull origin main:main --no-edit
  root = rev-parse --show-toplevel
